html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url(/omen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}


.inner-canvas {
  height: 100%;
  align-self: flex-end;
}

.sign-bg-img {
  background-image: url(/pubg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.sign-up {
  background: rgba(82, 53, 39, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.log-in {
  background: rgba(82, 53, 39, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sign-container {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 400;
  font-size: large;
  height: 77%;
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 20px;
}

.login-container {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 400;
  font-size: large;
  height: 57%;
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 20px;
}

.class-red {
  border: red 1px solid !important;
}

.bordered-input {
  border: 5px solid black;
}

.cust-flex {
  display: "flex";
  flex-direction: row;
  justify-content: flex-end;
}